head
    script(src="/js/profile_edit.js")
form(method="POST", action=sub_to, style="text-align:center;")
    .col-md-12
        .row
            .col-md-12
                .form-group
                    label Preferred Name
                    input.form-control(type="text" name="displayName", value=user.firstName, placeholder="eg. Alex", required)
                .form-group
                    label School of Enrollment
                    input.form-control(type="text", name="school", value=user.enrollmentData.school, placeholder="eg. School of Engineering")
        .row.form-group
            .col-md-12
                .row
                    .col-md-6.center
                        label(for="major") Major
                    .col-md-6.center
                        .form-group.form-inline
                            label Double Major
                            input#double_major(type="checkbox")
                .row
                    .col-md-12.form-group
                        select.form-control
                            each program in programs
                                option(value=program.name)=program.name
                        input.form-control(type="text", name="major", value=user.enrollmentData.major, placeholder="eg. Computer Science (B.S.)")
                        div(style="height:5px")
                        input.form-control.wide#double_major_input(style="display:none;", type="text", name="double_major", value=user.enrollmentData.double_major, placeholder="eg. Electrical Engineering")
        .form-group
            label Minor
            input.form-control(type="text", name="minor", value=user.enrollmentData.minor, placeholder="eg. Applied Mathematics")
        button.btn.btn-success(type="submit") Update My Info
