head
    script(src="/js/profile_edit.js")
form(method="POST", action=sub_to, style="text-align:center;")
    .form-group
        label Preferred Name
        input.form-control(type="text" name="displayName", value=user.firstName, placeholder="eg. Alex", required)
    .form-group
        label School of Enrollment
        input.form-control(type="text", name="school", value=user.enrollmentData.school, placeholder="eg. School of Engineering")
    .row.form-group
        .col-md-8
            label Major
            .form-group
                input.form-control(type="text", name="major", value=user.enrollmentData.major, placeholder="eg. Computer Science (B.S.)")
            .form-group#double_major_input(style="display:none;")
                input.form-control(type="text", name="double_major", value=user.enrollmentData.double_major, placeholder="eg. Electrical Engineering")
        .col-md-4
            .form-group.form-inline
                label Double Major
                input#double_major(type="checkbox")
    .form-group
        label Minor
        input.form-control(type="text", name="minor", value=user.enrollmentData.minor, placeholder="eg. Applied Mathematics")
    button.btn.btn-success(type="submit") Update My Info
