head
    script(src="/js/profile_edit.js")
form(method="POST", action=sub_to, style="text-align:center;")
    .col-md-12
        .row
            .col-md-12
                .form-group
                    label Preferred Name
                    input.form-control(type="text" name="displayName", value=user.firstName, placeholder="eg. Alex", required)
                .form-group
                    label School of Enrollment
                    select.form-control(name="school")
                        if(user.enrollmentData.school == 'SEAS')
                            option(value="CLAS") College of Arts &amp; Sciences (CLAS)
                            option(value="SEAS", selected) School of Engineering and Applied Science (SEAS)
                        else
                            option(value="CLAS", selected) College of Arts &amp; Sciences (CLAS)
                            option(value="SEAS") School of Engineering and Applied Science (SEAS)
        .row
            .col-md-12
                .row
                    .col-md-6.center
                        label(for="major") Major
                    .col-md-6.center
                        .form-group.form-inline
                            label Double Major
                            input#double_major(type="checkbox")
                .row
                    .col-md-12.form-group
                        select.form-control#major(name="major")
                            option(value="--") --
                            each major in majors
                                if(user.enrollmentData.major == major.name)
                                    option(value=major.name, selected)=major.name
                                else
                                    option(value=major.name)=major.name
                        div(style="height:5px")
                        select.form-control#double_major_input(style="display:none;", name="double_major")
                            option(value="--") --
                            each major in majors
                                if(user.enrollmentData.double_major == major.name)
                                    option(value=major.name, selected)=major.name
                                else
                                    option(value=major.name)=major.name
        .row
            .col-md-12
                .form-group
                    label Minor
                    select.form-control(name="minor")
                        option(value="--") --
                        each major in majors
                            if(user.enrollmentData.minor == major.name)
                                option(value=major.name, selected)=major.name
                            else
                                option(value=major.name)=major.name
                        each minor in minors
                            if(user.enrollmentData.minor == minor.name)
                                option(value=minor.name, selected)=minor.name
                            else
                                option(value=minor.name)=minor.name
        button.btn.btn-success(type="submit") Update My Info
