extends ../layout

block content
    .container
        .row
            h1.display-4(style="margin-top:15px;")
                small='Hi, ' + user.displayName + '!'
        .row
            .col-md-2.outline
                .row
                    h4.center.section-title My Info
                    hr
                .row
                    if(user.double_major && user.double_major != '')
                        p=user.major + ', ' + user.double_major
                    else
                        p=user.major
                .row
                    p='Minor: ' + user.minor
                .row
                    p=user.school
                .row
                    a.btn.bg-uva-blue(href="/profile/edit") Edit My Info
            .col-md-8.outline
                .row
                    h4.center.section-title Weekly Schedule
            .col-md-2.outline
                .row
                    h4.center.section-title Shopping Cart
                for courseref in cart
                    a(href='/course/' + courseref.term + '/' + courseref.sis_id)=courseref.display
        .row
            .col-md-2.outline
                .row
                    h4.center.section-title External Links
                    hr
                .row
                    if(user.enrollmentData.major)
                        a.btn.bg-uva-orange(style="margin-bottom:4px;width:100%;", href="#") Major Requirements
                        if(user.enrollmentData.double_major)
                            a.btn.bg-uva-orange(style="margin-bottom:4px;width:100%;", href="#") 2nd Major Requirements
                    if(user.enrollmentData.minor)
                        a.btn.bg-uva-orange(style="margin-bottom:4px;width:100%;", href="#") Minor Requirements
                    a.btn.bg-uva-orange(style="margin-bottom:4px;width:100%;", href="https://sisuva.admin.virginia.edu/ihprd/signon.html" target="_blank") UVA SIS
            .col-md-10.outline
                h3.center.section-title This space for rent
