extends  ../layout

block customhead
    link(rel="stylesheet", href="/css/tablesorter.theme.blue.css")
    link(rel="stylesheet", href="/css/error_page.css")
    script(src='/js/tablesorter.js')
    script(src="/js/pagination.js")
    script(src='/js/search.js')
    script(src='/js/subject.js')
    script(src='/js/ajax.js')




block content
    //- .container 
    //-     div.row            
    //-             .col-md-5
    //-                 .form-group.form-inline
    //-                     label(for='semester', style= "margin-right:10px; margin-top:15px;").center Search Courses From 
    //-                     select#semester.form-control(type='text', placeholder='' name='term_id', style= "margin-top:15px;")
    //-                         - var marked = false
    //-                         each term, i in terms_list
    //-                             if selected_term == term[_id]
    //-                                 option(value=term._id, selected)=term.name
    //-                                 - marked = true
    //-                             else if i==terms.length-1 && !marked
    //-                                 option(value=term._id, selected)=term.name
    //-                             else
    //-                                 option(value=term._id)=term.name
    //-     div.row
    //-         button.btn.btn-success(type="submit", style="margin-right:20px; margin-bottom:50px;") Find Class
    //- .container
    //-     div.row
    //-         if results.length==0
    //-             .container
    //-                 .row 
    .container
        div.row
            if course_subjects.length == 0
                .container
                    .row
                        p.center(style="font-size: 40px", text-align="center") We're Sorry!
                    .row
                        p We couldn't find anything matching what you searched :(
                    .row
                        p Try searching again!
                    .row
                        form(action='/subject/')
                            input(type='text', placeholder='Search..', name='search')
                            button(type='submit')
                                i.fa.fa-search
            
            else
                
        .container
            h5="Courses from " + term
            //- each course, i in newData
            //-     .row
            //-         .col-md-12
            //-             .row.form-inline
            //-                 button.btn.bg-uva-blue(type='button' onclick="$(this).parent().parent().next().toggle('slow');$(this).find('i').toggle();return false;" style='font-size:18px;padding:10px;')
            //-                     i.fa.fa-plus-square
            //-                     i.fa.fa-minus-square(style='display:none;')
            //-                 div(style='margin-left:10px;')
            //-                     p.vertical=course["subject"] + " " + course["catalog_number"] + " - " + course["title"]
            each course, i in section_order
                .row
                    .col-md-12
                        .row.form-inline
                            button.btn.bg-uva-blue(type='button' onclick="$(this).parent().parent().next().toggle('slow');$(this).find('i').toggle();return false;" style='font-size:18px;padding:10px;')
                                i.fa.fa-plus-square
                                i.fa.fa-minus-square(style='display:none;')
                            div(style='margin-left:10px;')
                                    p.vertical=section_order[i]["subject"] + ' ' + section_order[i]["catalog_number"] + ' - ' + section_order[i]["title"]
                    .col-md-12(style='display:none;')
                        table(style="width:100%;")
                            tbody
                                each course_section, index in course['sections']
                                    tr
                                        td
                                            div(style="margin-top:15px;margin-bottom:15px;padding-left:5px;padding-right:5px;")
                                                // A single section. Comes in two parts:
                                                // A button which contains the section header info
                                                button(onclick="$(this).next().toggle('fast')" style="width:100%;padding:2px;background-color:inherit;outline:none;border:none")
                                                    .row.section-title(style="margin-left:-10px;")
                                                        .col-sm-2
                                                            b
                                                                a(href="/course/"+term+"/"+course_section["sis_id"])
                                                                    p=course_section["sis_id"] + ' - ' + course_section["section"]
                                                        .col-sm-6
                                                            b
                                                                p="Instructor(s):" + " " + course_section["instructors"]
                                                        .col-sm-2
                                                            b
                                                                p=" Enrollment: " + " " + course_section['enrolled'] + " / " + course_section["enroll_limit"]
                                                        .col-sm-2
                                                            b
                                                                p=course_section["type"]
                                                                
                                                if course_section['meetings'].length == 0
                                                
                                                    div(style="display:none;")
                                                        .row
                                                            .col-md-9
                                                                p="Credits: " + course_section["credits"]
                                                                p="Status: " + course_section["status"]
                                                                p="Waiting List: " + course_section["waiting"]
                                                                p="Meeting Days: Not Found"
                                                                p="Start Time: Not Found"
                                                                p="End Time: Not Found"
                                                                p="Class Date Begins: Not Found"
                                                                p="Class Date Ends: NoT Found"
                                                                //- p=course_section["enrollment"]
                                                            .col-md-3
                                                                if(course_section.desc.length > 0)
                                                                    p=course_section.desc
                                                                else
                                                                    p A description for this course is not available :(
                                                else
                                                
                                                    div(style="display:none;")
                                                        .row
                                                            .col-md-9
                                                                p="Credits: " + course_section["credits"]
                                                                p="Status: " + course_section["status"]
                                                                p="Waiting List: " + course_section['"waiting"']
                                                                p="Meeting Days: " + course_section['meetings'][0]['days']
                                                                p="Start Time: " + course_section['meetings'][0]['start']
                                                                p="End Time: " + course_section['meetings'][0]['finish']
                                                                p="Class Date Begins: " + course_section['meetings'][0]['begin']
                                                                p="Class Date Ends: " + course_section['meetings'][0]['complete']
                                                                //- p=course_section["enrollment"]
                                                            .col-md-3
                                                                if(course_section.desc.length > 0)
                                                                    p=course_section.desc
                                                                else
                                                                    p A description for this course is not available :(
                                                    //- 
                    
