extends  ../layout

block customhead
    link(rel="stylesheet", href="/css/tablesorter.theme.blue.css")
    link(rel="stylesheet", href="/css/error_page.css")
    script(src='/js/tablesorter.js')
    script(src='/js/search.js')
    script(src='/js/ajax.js')
    script(src="/js/pagination.js")




block content
    .container 
        .row            
            .col-md-5
                h3(style="margin-top:15px;")="Courses in " + subject
                .form-group.form-inline
                    label(for='semester', style= "margin-right:10px;") Search Courses From 
                    select#semester.form-control(type='text', placeholder='' name='term_id')
                        - var marked = false
                        each some_term, i in terms
                            if selected_term == some_term[_id]
                                option(value=some_term._id, selected)=some_term.name
                                - marked = true
                            else if i==term.length-1 && !marked
                                option(value=some_term._id, selected)=some_term.name
                            else
                                option(value=some_term._id)=some_term.name
        script.
            $(document).ready(function(){
                $('#semester').val(#{term});
                $('#semester').on('change', function(){
                    window.location = "/subject/"+$(this).val()+"/#{subject}";
                });
            });
        .row
            script.
                var maxPage = !{max_page || 1} - 1;
            button.btn.bg-uva-blue(style="width:100px;" onClick="previousPage()") Previous
            button.btn.bg-uva-blue.pageselector
            button.btn.bg-uva-blue.pageselector
            button.btn.bg-uva-blue.pageselector
            button.btn.bg-uva-blue.pageselector
            button.btn.bg-uva-blue.pageselector
            button.btn.bg-uva-blue.pageselector
            button.btn.bg-uva-blue.pageselector
            button.btn.bg-uva-blue.pageselector
            button.btn.bg-uva-blue.pageselector
            button.btn.bg-uva-blue.pageselector
            button.btn.bg-uva-blue(style="width:100px;" onClick="nextPage()") Next
        .row(style="margin-top:30px;")
            p#subject(style="display:none;")=subject
            .col-md-12#results
                    
