extends  ../layout

block customhead

block content
    .container
        div.row
            h1(style="align-self: center;") Explore Subjects
        // div.row
            table(id="term_table" class="terms_table tablesorter-blue")
                thead
                    tr
                        th Subject:
                        th Name:
                    tbody
                        each subject_name, index in course_subjects
                            td=subject_name['subject']
                            td=subject_name['name']

        //- each subject_name, index in course_subjects
            //- div.row
                //- a.btn.bg-uva-blue(href='/subject/' + subject_name["subject"], style="width:250px;")=subject_name["subject"] + " - " + subject_name['name']
    .container
        .row
            .col-md-12
                .row.form-inline
                    button.btn.bg-uva-blue(type='button' onclick="$(this).parent().parent().next().toggle('slow');$(this).find('i').toggle();return false;" style='font-size:18px;padding:10px;')
                        i.fa.fa-plus-square
                        i.fa.fa-minus-square(style='display:none;')
                    div(style='margin-left:10px;')
                            p.vertical="College of Arts and Sciences"
            .col-md-12(style="display:none")
                div.list-group.d-flex.flex-row.flex-wrap
                    each subject_name, index in course_subjects['CLAS']
                        .col-md-6
                            a(href='/subject/' + term + '/' + subject_name["subject"])
                                div.list-group-item.list-group-item-action
                                    =subject_name['subject'] + " - " + subject_name['name']
        .row
            .col-md-12
                .row.form-inline
                    button.btn.bg-uva-blue(type='button' onclick="$(this).parent().parent().next().toggle('slow');$(this).find('i').toggle();return false;" style='font-size:18px;padding:10px;')
                        i.fa.fa-plus-square
                        i.fa.fa-minus-square(style='display:none;')
                    div(style='margin-left:10px;')
                            p.vertical="School of Engineering and Applied Sciences"
            .col-md-12(style="display:none")
                div.list-group.d-flex.flex-row.flex-wrap
                    each subject_name, index in course_subjects['SEAS']
                        .col-md-6
                            a(href='/subject/' + term + '/' + subject_name["subject"])
                                div.list-group-item.list-group-item-action
                                    =subject_name['subject'] + " - " + subject_name['name']
        .row
            .col-md-12
                .row.form-inline
                    button.btn.bg-uva-blue(type='button' onclick="$(this).parent().parent().next().toggle('slow');$(this).find('i').toggle();return false;" style='font-size:18px;padding:10px;')
                        i.fa.fa-plus-square
                        i.fa.fa-minus-square(style='display:none;')
                    div(style='margin-left:10px;')
                            p.vertical="Curry School of Education"
            .col-md-12(style="display:none")
                div.list-group.d-flex.flex-row.flex-wrap
                    each subject_name, index in course_subjects['Curry']
                        .col-md-6
                            a(href='/subject/' + term + '/' + subject_name["subject"])
                                div.list-group-item.list-group-item-action
                                    =subject_name['subject'] + " - " + subject_name['name']
        .row
            .col-md-12
                .row.form-inline
                    button.btn.bg-uva-blue(type='button' onclick="$(this).parent().parent().next().toggle('slow');$(this).find('i').toggle();return false;" style='font-size:18px;padding:10px;')
                        i.fa.fa-plus-square
                        i.fa.fa-minus-square(style='display:none;')
                    div(style='margin-left:10px;')
                            p.vertical="McIntire School of Commerce"
            .col-md-12(style="display:none")
                div.list-group.d-flex.flex-row.flex-wrap
                    each subject_name, index in course_subjects['McIntire']
                        .col-md-6
                            a(href='/subject/' + term + '/' + subject_name["subject"])
                                div.list-group-item.list-group-item-action
                                    =subject_name['subject'] + " - " + subject_name['name']        
        .row
            .col-md-12
                .row.form-inline
                    button.btn.bg-uva-blue(type='button' onclick="$(this).parent().parent().next().toggle('slow');$(this).find('i').toggle();return false;" style='font-size:18px;padding:10px;')
                        i.fa.fa-plus-square
                        i.fa.fa-minus-square(style='display:none;')
                    div(style='margin-left:10px;')
                            p.vertical="Architecture School"
            .col-md-12(style="display:none")
                div.list-group.d-flex.flex-row.flex-wrap
                    each subject_name, index in course_subjects['SARC']
                        .col-md-6
                            a(href='/subject/' + term + '/' + subject_name["subject"])
                                div.list-group-item.list-group-item-action
                                    =subject_name['subject'] + " - " + subject_name['name']   
        .row     
            .col-md-12
                .row.form-inline
                    button.btn.bg-uva-blue(type='button' onclick="$(this).parent().parent().next().toggle('slow');$(this).find('i').toggle();return false;" style='font-size:18px;padding:10px;')
                        i.fa.fa-plus-square
                        i.fa.fa-minus-square(style='display:none;')
                    div(style='margin-left:10px;')
                            p.vertical="School of Continuing and Professional Studies"
            .col-md-12(style="display:none")
                div.list-group.d-flex.flex-row.flex-wrap
                    each subject_name, index in course_subjects['SCPS']
                        .col-md-6
                            a(href='/subject/' + term + '/' + subject_name["subject"])
                                div.list-group-item.list-group-item-action
                                    =subject_name['subject'] + " - " + subject_name['name']                        
        .row
            .col-md-12
                .row.form-inline
                    button.btn.bg-uva-blue(type='button' onclick="$(this).parent().parent().next().toggle('slow');$(this).find('i').toggle();return false;" style='font-size:18px;padding:10px;')
                        i.fa.fa-plus-square
                        i.fa.fa-minus-square(style='display:none;')
                    div(style='margin-left:10px;')
                            p.vertical="ROTC"
            .col-md-12(style="display:none")
                div.list-group.d-flex.flex-row.flex-wrap
                    each subject_name, index in course_subjects['ROTC']
                        .col-md-6
                            a(href='/subject/' + term + '/' + subject_name["subject"])
                                div.list-group-item.list-group-item-action
                                    =subject_name['subject'] + " - " + subject_name['name']
        .row
            .col-md-12
                .row.form-inline
                    button.btn.bg-uva-blue(type='button' onclick="$(this).parent().parent().next().toggle('slow');$(this).find('i').toggle();return false;" style='font-size:18px;padding:10px;')
                        i.fa.fa-plus-square
                        i.fa.fa-minus-square(style='display:none;')
                    div(style='margin-left:10px;')
                            p.vertical="Interdisciplinary Studies"
            .col-md-12(style="display:none")
                div.list-group.d-flex.flex-row.flex-wrap
                    each subject_name, index in course_subjects['INTR']
                        .col-md-6
                            a(href='/subject/' + term + '/' + subject_name["subject"])
                                div.list-group-item.list-group-item-action
                                    =subject_name['subject'] + " - " + subject_name['name']
        .row
            .col-md-12
                .row.form-inline
                    button.btn.bg-uva-blue(type='button' onclick="$(this).parent().parent().next().toggle('slow');$(this).find('i').toggle();return false;" style='font-size:18px;padding:10px;')
                        i.fa.fa-plus-square
                        i.fa.fa-minus-square(style='display:none;')
                    div(style='margin-left:10px;')
                            p.vertical="Batten School of Leadership & Public Policy"
            .col-md-12(style="display:none")
                div.list-group.d-flex.flex-row.flex-wrap
                    each subject_name, index in course_subjects['FBS']
                        .col-md-6
                            a(href='/subject/' + term + '/' + subject_name["subject"])
                                div.list-group-item.list-group-item-action
                                    =subject_name['subject'] + " - " + subject_name['name']
        .row
            .col-md-12
                .row.form-inline
                    button.btn.bg-uva-blue(type='button' onclick="$(this).parent().parent().next().toggle('slow');$(this).find('i').toggle();return false;" style='font-size:18px;padding:10px;')
                        i.fa.fa-plus-square
                        i.fa.fa-minus-square(style='display:none;')
                    div(style='margin-left:10px;')
                            p.vertical="School of Nursing"
            .col-md-12(style="display:none")
                div.list-group.d-flex.flex-row.flex-wrap
                    each subject_name, index in course_subjects['NURS']
                        .col-md-6
                            a(href='/subject/' + term + '/' + subject_name["subject"])
                                div.list-group-item.list-group-item-action
                                    =subject_name['subject'] + " - " + subject_name['name']
        .row
            .col-md-12
                .row.form-inline
                    button.btn.bg-uva-blue(type='button' onclick="$(this).parent().parent().next().toggle('slow');$(this).find('i').toggle();return false;" style='font-size:18px;padding:10px;')
                        i.fa.fa-plus-square
                        i.fa.fa-minus-square(style='display:none;')
                    div(style='margin-left:10px;')
                            p.vertical="Data Science"
            .col-md-12(style="display:none")
                div.list-group.d-flex.flex-row.flex-wrap
                    each subject_name, index in course_subjects['DSI']
                        .col-md-6
                            a(href='/subject/' + term + '/' + subject_name["subject"])
                                div.list-group-item.list-group-item-action
                                    =subject_name['subject'] + " - " + subject_name['name']
        .row
            .col-md-12
                .row.form-inline
                    button.btn.bg-uva-blue(type='button' onclick="$(this).parent().parent().next().toggle('slow');$(this).find('i').toggle();return false;" style='font-size:18px;padding:10px;')
                        i.fa.fa-plus-square
                        i.fa.fa-minus-square(style='display:none;')
                    div(style='margin-left:10px;')
                            p.vertical="Other Departments"
            .col-md-12(style="display:none")
                div.list-group.d-flex.flex-row.flex-wrap
                    each subject_name, index in course_subjects['']
                        .col-md-6
                            a(href='/subject/' + term + '/' + subject_name["subject"])
                                div.list-group-item.list-group-item-action
                                    =subject_name['subject'] + " - " + subject_name['name']
        
                            //- h4 College of Arts and Sciences
                            //- .row
                            //-     each subject_name, index in course_subjects['CLAS']
                            //-         .col-md-6
                            //-             a(href='/subject/' + subject_name["subject"])
                            //-                 div.list-group-item.list-group-item-action
                            //-                     =subject_name['subject'] + " - " + subject_name['name']
                            // DS, Nursing, Other
        //- h5 College of Arts and Sciences
        //- div.list-group.d-flex.flex-row.flex-wrap
        //-     each subject_name, index in course_subjects['CLAS']
        //-         div.list-group-item.w-50.list-group-item-action
        //-             a(href='/subject/' + subject_name["subject"], style="width:250px;")=subject_name['subject'] + " - " + subject_name['name']
        //- div.row
        //-     p
        //- div.row
        //-     h5 School of Engineering and Applied Sciences
        //-     div.list-group.d-flex.flex-row.flex-wrap
        //-         each subject_name, index in course_subjects['SEAS']
        //-             div.list-group-item.w-50.list-group-item-action
        //-                 a(href='/subject/' + subject_name["subject"], style="width:250px;")=subject_name['subject'] + " - " + subject_name['name']
        
