extends layout
block customhead
    link(rel="stylesheet", href="/css/search_page.css")
    
block content
    
    div.container 
        div.row
            .col-md-12
                .row
                h1(style="margin-bottom:20px;" ).center='Course Search'
        div.row 
            .col-md-3
            .col-md-6
                form(method='POST' action='/search')   
                    .row             
                        .form-group.form-inline
                            label(for='semester', style= "margin-right:10px;") Search Courses From 
                            select#semester.form-control(type='text', placeholder='' name='term_id')
                                - var marked = false
                                each term,i in terms
                                    if selected_term == term._id
                                        option(value=term._id, selected)=term.name
                                        - marked = true
                                    else if i==terms.length-1 && !marked
                                        option(value=term._id, selected)=term.name
                                    else
                                        option(value=term._id)=term.name
                    .row
                        div.form-group.form-inline
                            label(for='subject') Subject:
                            input#subject.form-control(type='text', placeholder='eg.ANTH' name='subject' value=input.subject)
                        div.form-group.form-inline
                            label(for='catalog_number') Class Number:
                            input#catalog_number.form-control(type='text', placeholder='eg.1010' name='catalog_number' value=input.catalog_number)
                    .row
                        div.form-group.form-inline
                            label(for='classTitle') Class Title:
                            input#classTitle.form-control(type='text', placeholder='' name='classTitle' value=input.title)                                
                        div.form-group.form-inline
                            label(for='instructor') Instructor:
                            input#instructor.form-control(type='text', placeholder='eg.Bloomfield' name='instructor' value=input.instructor)
                    .row    
                        .form-group(style="position:relative")
                            #day-search
                                button.btn.btn-dark(onclick="toggleDays('day-search');return false;") Select days &nbsp;
                                    i.fas.fa-angle-right(style="display:none;")
                                    i.fas.fa-angle-down
                                .appearing-box(style="display:none;left:100%;")
                                    div
                                        input#monday.pointer(type="checkbox", name="monday")
                                        label.pointer(for='monday') Monday
                                    div
                                        input#tuesday.pointer(type="checkbox", name="tuesday")
                                        label.pointer(for='tuesday') Tuesday
                                    div
                                        input#wednesday.pointer(type="checkbox", name="wednesday")
                                        label.pointer(for='wednesday') Wednesday
                                    div
                                        input#thursday.pointer(type="checkbox", name="thursday")
                                        label.pointer(for='thursday') Thursday
                                    div
                                        input#friday.pointer(type="checkbox", name="friday")
                                        label.pointer(for='friday') Friday
                                    div
                                        input#saturday.pointer(type="checkbox", name="saturday")
                                        label.pointer(for='saturday') Saturday
                    .row                
                        button.btn.btn-success(type="submit", style="margin-right:10px; margin-bottom:50px;") Search
            .col-md-3

    .container
        each result in results
            .row
                // Top bar for the name and expanding controls
                .col-md-12
                    .row.form-inline
                        button.btn.bg-uva-blue(type='button' onclick="$(this).parent().parent().next().toggle('slow');$(this).find('i').toggle();return false;" style='font-size:18px;padding:10px;')
                            i.fa.fa-plus-square
                            i.fa.fa-minus-square(style='display:none;')
                        div(style='margin-left:10px;')
                                p.vertical=result.subject + ' ' + result.number + ' - ' + result.title
                // Column container for all sections
                .col-md-12(style='display:none;')
                    table(style="width:100%;")
                        tbody
                            each course, i in result.section
                                tr
                                    td
                                        div(style="margin-top:15px;margin-bottom:15px;padding-left:5px;padding-right:5px;")
                                            // A single section. Comes in two parts:
                                            // A button which contains the section header info
                                            button(onclick="$(this).next().toggle('fast')" style="width:100%;padding:2px;background-color:inherit;outline:none;border:none")
                                                .row.section-title(style="margin-left:-10px;")
                                                    .col-sm-2
                                                        b
                                                            p=course.sis_id + ' - ' + course.section
                                                    .col-sm-2
                                                        b
                                                            p=course.type
                                                    .col-sm-4
                                                        b
                                                            p=course.instructor
                                                    .col-sm-2
                                                        b
                                                            p=course.enrollment_max
                                                    .col-sm-2
                                                        b
                                                            p (0/0) WL
                                            // ... and a div which contains everything else
                                            div(style="display:none;")
                                                .row
                                                    .col-md-9
                                                        p Future home of the calendar
                                                        p=course.days
                                                        p=course.meeting_start
                                                        p=course.meeting_end
                                                    .col-md-3
                                                        if(course.desc.length > 0)
                                                            p=course.desc
                                                        else
                                                            p A description for this course is not available :(
                                                .row
                                                    .col-md-12
                                                        p
                                                        | Grade data is fetched by combining the instructor with the subject and number. It does not factor in labs/discussions or their instructors, etc.
                                                        p Future home of the grade distribution information!

                    
    // Inline scrips go at the end to decrease page loading time
    script.
        function toggleDays(id) {
            $('#' + id + ' .appearing-box').toggle('slow');
            $('#' + id + ' i.fa-angle-right').toggle('fast');
            $('#' + id + ' i.fa-angle-down').toggle('fast');
        }
