extends layout
block customhead
    link(rel="stylesheet", href="/css/search_page.css")
    
block content
    
    div.container 
        div.row
            .col-md-12
                .row
                h1(style="margin-bottom:20px;" ).center='Course Search'
        div.row 
            .col-md-3
            .col-md-6
                form(method='POST' action='/search')   
                    .row             
                        .form-group.form-inline
                            label(for='semester', style= "margin-right:10px;") Search Courses From 
                            select#semester.form-control(type='text', placeholder='' name='term_id')
                                each term,i in terms
                                    if i==terms.length-1
                                        option(value=term.term_id, selected)=term.name
                                    else
                                        option(value=term.term_id)=term.name
                    .row
                        div.form-group.form-inline
                            label(for='subject') Subject:
                            input#subject.form-control(type='text', placeholder='eg.ANTH' name='subject' value=input.subject)
                        div.form-group.form-inline
                            label(for='catalog_number') Class Number:
                            input#catalog_number.form-control(type='text', placeholder='eg.1010' name='catalog_number' value=input.catalog_number)
                    .row
                        div.form-group.form-inline
                            label(for='classTitle') Class Title:
                            input#classTitle.form-control(type='text', placeholder='' name='classTitle' value=input.title)                                
                        div.form-group.form-inline
                            label(for='instructor') Instructor:
                            input#instructor.form-control(type='text', placeholder='eg.Bloomfield' name='instructor' value=input.instructor)
                    .row    
                        .form-group(style="position:relative")
                            #day-search
                                button.btn.btn-dark(onclick="toggleDays('day-search');return false;") Select days &nbsp;
                                    i.fas.fa-angle-right(style="display:none;")
                                    i.fas.fa-angle-down
                                .appearing-box(style="display:none;left:40%;")
                                    div
                                        input#monday.pointer(type="checkbox", value="Monday")
                                        label.pointer(for='monday') Monday
                                    div
                                        input#tuesday.pointer(type="checkbox", value="Tuesday")
                                        label.pointer(for='tuesday') Tuesday
                                    div
                                        input#wednesday.pointer(type="checkbox", value="Wednesday")
                                        label.pointer(for='wednesday') Wednesday
                                    div
                                        input#thursday.pointer(type="checkbox", value="Thursday")
                                        label.pointer(for='thursday') Thursday
                                    div
                                        input#friday.pointer(type="checkbox", value="Friday")
                                        label.pointer(for='friday') Friday
                                    div
                                        input#saturday.pointer(type="checkbox", value="Saturday")
                                        label.pointer(for='saturday') Saturday
                    .row                
                        button.btn.btn-success(type="submit", style="margin-right:10px; margin-bottom:50px;") Search
            .col-md-3

    .container
        each result in results
            div
                p=result.subject+result.number+" - "+result.title
            button.btn.btn-dark.course-btn &nbsp;
                i.fas.fa-angle-right(style="display:none;")
                i.fas.fa-angle-down
            div(style="display:none;")
                each course in result.section
                    .row
                        .col-md-4.first_box
                            .row
                            p.center=course.subject + " " + course.catalog_number + "-" + course.section + " "+ course.term_name
                        .col-md-6.second_box
                            .row
                            p.center 
                        .col-md-2.third_box
                            .row
                            p.center="Capacity:" + " " + course.enrollment_max
                    .row
                        .col-md-4.fourth_box
                            .row
                            p.center.section-title=course.title
                        .col-md-7.fifth_box
                            .row
                            p.center.section-title="Instructor:" + " " + course.instructor
                        .col-md-1.sixth_box
                            p.center.section-title=course.sis_id
                    .row
                        .col-md-2.seventh_box
                            .row
                            p.center
                        .col-md-8.center.eigth_box
                            .row
                            p.center Caldendar
                        .col-md-2.ninth_box
                            .row
                            p.center
                    .row
                        .col-md-12.tenth_box
                            .row
                            p.center="Course Description:" + " " + course.desc
                    .row
                        .col-md-12.eleventh_box
                            .row
                            p.center="Grade Data:"
                    
    // Inline scrips go at the end to decrease page loading time
    script.
        function toggleDays(id) {
            $('#' + id + ' .appearing-box').toggle('slow');
            $('#' + id + ' i.fa-angle-right').toggle('fast');
            $('#' + id + ' i.fa-angle-down').toggle('fast');
        }
        
        $(document).ready(function(){
        $(".course-btn").each(function(){
            $(this).click(function(){
                $(this).children().toggle();
                $(this).next().toggle();
            })
            
        })
        });
        
        
