extends layout
block customhead
    link(rel="stylesheet", href="/css/search_page.css")
    link(rel="stylesheet", href="/css/tablesorter.theme.blue.css")
    link(rel="stylesheet", href="/css/fullcalendar.css")
    link(rel="stylesheet", href="/css/timegrid.css")
    script(src='/js/tablesorter.js')
    script(src="/js/pagination.js")
    script(src='/js/chart.js')
    script(src='/js/moment.js')
    script(src='/js/search.js')
    script(src='/js/ajax.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.js')
    script.
        var maxPage = !{max_page || 0};
    
block content
    
    .container(id="resultsParent")
        .row
            .col-md-12
                h1(style="margin-bottom:20px;" ).center='Course Search'
        .row 
            .col
            .col-md-6
                form(method='GET' action='/search')   
                    .row
                        .col
                        .col-md-5
                            .form-group
                                label(for='semester', style= "margin-right:10px;") Search Courses From
                                select#semester.form-control(type='text', placeholder='' name='term_id')
                                    - var marked = false
                                    each term,i in terms
                                        if selected_term == term._id
                                            option(value=term._id, selected)=term.name
                                            - marked = true
                                        else if i==terms.length-1 && !marked
                                            option(value=term._id, selected)=term.name
                                        else
                                            option(value=term._id)=term.name
                        .col
                    .row
                        .col
                        .col-md-4
                            .form-group.form-inline
                                label(for='subject') Subject:
                                input#subject.form-control(type='text', placeholder='eg. ECE' name='subject' value=input.subject)
                        .col
                        .col-md-4
                            .form-group.form-inline
                                label(for='catalog_number') Class Number:
                                input#catalog_number.form-control(type='text', placeholder='eg. 2330' name='catalog_number' value=input.catalog_number)
                        .col
                    .row
                        .col
                        .col-md-4
                            .form-group.form-inline
                                label(for='classTitle') Class Title:
                                input#classTitle.form-control(type='text', placeholder='eg. Digital Logic Design' name='classTitle' value=input.title)
                        .col
                        .col-md-4
                            .form-group.form-inline
                                label(for='instructor') Instructor:
                                input#instructor.form-control(type='text', placeholder='eg. Dugan' name='instructor' value=input.instructor)
                        .col
                    .row
                        .col
                        .col-md-4
                            .form-group
                                input#days(type="hidden")
                                label#Mo.uva-checkbox.dayinput Monday
                                    input(type="checkbox")
                                    span.uva-checkmark
                                label#Tu.uva-checkbox.dayinput Tuesday
                                    input(type="checkbox")
                                    span.uva-checkmark
                                label#We.uva-checkbox.dayinput Wednesday
                                    input(type="checkbox")
                                    span.uva-checkmark
                                label#Th.uva-checkbox.dayinput Thursday
                                    input(type="checkbox")
                                    span.uva-checkmark
                                label#Fr.uva-checkbox.dayinput Friday
                                    input(type="checkbox")
                                    span.uva-checkmark
                                label#Sa.uva-checkbox.dayinput Saturday
                                    input(type="checkbox")
                                    span.uva-checkmark
                                label#Su.uva-checkbox.dayinput Sunday
                                    input(type="checkbox")
                                    span.uva-checkmark
                                                                                
                        .col-md-4
                            button.btn.btn-success.wide(type="submit", style="margin-right:10px; margin-bottom:50px;") Find Classes
                        .col
            .col
        .row(style="margin-top:30px;")
            button.btn.bg-uva-blue(style="width:100px;" onClick="previousPage()") Previous
            button.btn.bg-uva-blue.pageselector
            button.btn.bg-uva-blue.pageselector
            button.btn.bg-uva-blue.pageselector
            button.btn.bg-uva-blue.pageselector
            button.btn.bg-uva-blue.pageselector
            button.btn.bg-uva-blue.pageselector
            button.btn.bg-uva-blue.pageselector
            button.btn.bg-uva-blue.pageselector
            button.btn.bg-uva-blue.pageselector
            button.btn.bg-uva-blue.pageselector
            button.btn.bg-uva-blue(style="width:100px;" onClick="nextPage()") Next

    .container
        .row
            if results.length > 0
                - var count = 0;
                .col-md-8#results
                    each result, j in results
                        .row
                            // Top bar for the name and expanding controls
                            .col-md-12
                                .row.form-inline
                                    button.btn.bg-uva-blue(type='button' onclick="$(this).parent().parent().next().toggle('slow');$(this).find('i').toggle();return false;" style='font-size:18px;padding:10px;')
                                        i.fa.fa-plus-square
                                        i.fa.fa-minus-square(style='display:none;')
                                    div(style='margin-left:10px;')
                                            p.vertical=result.subject + ' ' + result.number + ' - ' + result.title
                            // Column container for all sections
                            .col-md-12
                                table.wide
                                    tbody
                                        each course, i in result.section
                                            tr
                                                td
                                                    div(style="margin-top:15px;margin-bottom:15px;padding-left:5px;padding-right:5px;")
                                                        // A single section. Comes in two parts:
                                                        // A button which contains the section header info
                                                        button(onclick="$(this).next().toggle('fast')" style="width:100%;padding:2px;background-color:inherit;outline:none;border:none")
                                                            .row.section-title(style="margin-left:-10px;")
                                                                .col-sm-1
                                                                    div
                                                                        - var name = j+'-'+i;
                                                                        input#course.pointer(type="checkbox", name=name)
                                                                        label.pointer(for='course')
                                                                .col-sm-2
                                                                    b
                                                                        p=course.sis_id + ' - ' + course.section
                                                                .col-sm-2
                                                                    b
                                                                        p=course.type
                                                                .col-sm-3
                                                                    b
                                                                        p=course.instructor
                                                                .col-sm-2
                                                                    b
                                                                        p=course.enrolled + ' / ' + course.enroll_limit
                                                                if(course.waiting != 0)
                                                                    .col-sm-2
                                                                        b
                                                                            p=course.waiting
                                                        // ... and a div which contains everything else
                                                        div
                                                            .row
                                                                .col-md-8
                                                                    p Future home of the calendar
                                                                    p=course.days
                                                                    p=course.meeting_start
                                                                    p=course.meeting_end    
                                                                .col-md-4
                                                                    //if(course.desc.length > 0)
                                                                        p=course.desc
                                                                    //else
                                                                        p A description for this course is not available :(
                                                            .row
                                                                .col-md-12
                                                                    p
                                                                    | Grade data is fetched by combining the instructor with the subject and number. It does not factor in labs/discussions or their instructors, etc.
                                                                    p Future home of the grade distribution information!
                .col-md-4
                    div(id="calendar" style="width:100%;min-width:290px;position:sticky;top:0px;")
                    script.
                        var meeting= [];
                        function name_split(name){
                            name.split("-");
                        };
                        
                        $(':checkbox').on('change',function(){
                            var result_name= name_split(this.name);
                            var theClass= result[parseInt(result_name[0])][parseInt(result_name(1))];
                            
          
                            if(this.checked){
                            
                                for(var i=0;i<theClass.days.split("").length;i++){
                                    meeting.push({
                                    title: theClass.subject+theClass.catalog_number,
                                    start: moment(moment().day(theClass.days.split("")[i]).format("YYYY-MM-DD")+"T"+theClass.meeting_start).format(),
                                    end: moment(moment().day(theClass.days.split("")[i]).format("YYYY-MM-DD")+"T"+theClass.meeting_end).format(),
                                });
                                }
                            }
                            else{
                                alert("deselected "+this.name);
                            }
                        });
                        
                        // This is calendar code.
                        document.addEventListener('DOMContentLoaded', function() {
                            var calendarEl = document.getElementById('calendar');
                            var calendar = new FullCalendar.Calendar(calendarEl, {
                              plugins: [ 'timeGrid' ],
                              defaultView: 'timeGridWeek',
                              nowIndicator:true,
                              allDaySlot:false,
                              columnHeaderFormat:{
                                  weekday:'short',
                              },
                              minTime:"08:00:00",
                              header:{
                                  left:'',
                                  center:'',
                                  right:'',
                              },
                              events:meeting
                            });

                            calendar.render();
                      });
                      
                      
                      
                        
                      /*
                      $(window).scroll(function(e){ 
                          var $el = $('#calendar'); 
                          var isPositionFixed = ($el.css('position') == 'fixed');
                          if ($(this).scrollTop() > 500 && !isPositionFixed){ 
                              $el.css({'position': 'fixed', 'top': '0px'}); 
                          }
                          if ($(this).scrollTop() < 500 && isPositionFixed){
                              $el.css({'position': 'static', 'top': '0px'}); 
                          } 
                     });
                     */
