extends  ../layout

block customhead
    link(rel="stylesheet", href="/css/tablesorter.theme.blue.css")
    link(rel="stylesheet", href="/css/course_style_sheet.css")
    link(rel="stylesheet", href="/css/chart.css")

block content
    
        .container
                .row
                    // Top bar for the name and expanding controls
                    .col-md-12
                        h2=class_info[0].subject + ' ' + class_info[0].catalog_number + ' - ' + class_info[0].title
                    // Column container for all sections
                    .col-md-12
                        table(style="width:100%;")
                            tbody
                                each c in class_info
                                    tr
                                        td
                                            div(style="margin-top:15px;margin-bottom:15px;padding-left:5px;padding-right:5px;")
                                                // A single section. Comes in two parts:
                                                // A button which contains the section header info
                                                button(onclick="$(this).next().toggle('fast')" style="width:100%;padding:2px;background-color:inherit;outline:none;border:none")
                                                    .row.section-title(style="margin-left:-10px;")
                                                        .col-sm-2
                                                            b
                                                                p=c.sis_id + ' - ' + c.section
                                                        .col-sm-2
                                                            b
                                                                p=c.type
                                                        .col-sm-4
                                                            b
                                                                p=c.instructor
                                                        .col-sm-2
                                                            b
                                                                p=c.enrollment_max
                                                        .col-sm-2
                                                            b
                                                                p (0/0) WL
                                                // ... and a div which contains everything else
                                                div(style="display:none;")
                                                    .row
                                                        .col-md-9
                                                            p Future home of the calendar
                                                            p=c.days
                                                            p=c.meeting_start
                                                            p=c.meeting_end
                                                        .col-md-3
                                                            if(c.desc.length > 0)
                                                                p=c.desc
                                                            else
                                                                p A description for this course is not available :(
                                                    .row
                                                        .col-md-12
                                                            p
                                                            | Grade data is fetched by combining the instructor with the subject and number. It does not factor in labs/discussions or their instructors, etc.
                                                            p Future home of the grade distribution information!

            
                
            
                
        
                 
                 
                 
                 
