extends  ../layout

block customhead
    link(rel="stylesheet", href="/css/tablesorter.theme.blue.css")
    script(src='/js/tablesorter.js')
    script(src='/js/core/fullcalendar.js')

block content
    .container(style="font-size: 20px")
        .row
            .col-md-4
                p.center=specific_class['subject'] + " " + specific_class['catalog_number'] + "-" + specific_class['section']
            .col-md-6
                p.center 
            .col-md-2
                p.center="Capacity:" + " " + specific_class['enrollment_max']
        .row
            .col-md-4
                p.center.section-title=specific_class['title']
            .col-md-7
                - var instructors = '';
                each val, i in specific_class['instructors']
                    if val!=''&&!(instructors.includes(val))
                        if instructors!=''
                            - instructors = instructors+"; "+val
                        else
                            - instructors = instructors+val
                p.center.section-title="Instructor:" + " " + instructors
            .col-md-1
                p.center.section-title=specific_class['sis_id']
        .row
            .col-md-2
                p.center
            .col-md-8.center
                p.center Calendar
            .col-md-2
                p.center
        .row
            .col-md-12
                p.center="Course Description:" + " " + specific_class['desc']
        .row
            .col-md-12
                
                p.center="Grades"
                

            
                
            
                
        
                 
                 
                 
                 
