extends  ../layout

block customhead
    link(rel="stylesheet", href="/css/tablesorter.theme.blue.css")
    script(src='/js/tablesorter.js')

block content
    .container
        table(id="term_and_id_table" class="terms_and_ids_table tablesorter-blue")
            thead
                tr
                    th Subject
                    th Catalog Number
                    th Class Section
                    th SIS ID
                    th Class Title
                    th Instructor
                    th Enrollment Capacity
                    th Meeting Days
                    th Class Starting Time
                    th Class Ending Time
                    th Semester Number
                    th Semester
            tbody
                    tr
                        td=specific_class['subject']
                        td=specific_class['catalog_number']
                        td=specific_class['section']
                        td=specific_class['sis_id']
                        td=specific_class['title']
                        td=specific_class['instructor']
                        td=specific_class['enrollment_max']
                        td=specific_class['days']
                        td=specific_class['meeting_start']
                        td=specific_class['meeting_end']
                        td=specific_class['term_id']
                        td=specific_class['term_name']
            style.
                body {
                    background-color: White
                 } 
                 table {
                     font-size: 14px
                 }
                 
    .row    
        if specific_class.length == 0
            p
                | Error
                 
