extends ../layout
block customhead
    link(rel="stylesheet", href="/css/tablesorter.theme.blue.css")
    link(rel="stylesheet", href="/css/error_page.css")
    link(rel="stylesheet", href="/css/fullcalendar.css")
    link(rel="stylesheet", href="/css/timegrid.css")
    script(src='/js/tablesorter.js')
    script(src='/js/chart.js')
    script(src='/js/moment.js')
    script(src='/js/grade_chart.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.js')

block content
    .container(style="font-size: 20px")
            
        .row
            .col-md-4
                p.center=course['subject'] + " " + course['catalog_number'] + "-" + course['section']
            .col-md-6
                p.center 
            .col-md-2
                p.center="Capacity:" + " " + course['enroll_limit']
        .row
            .col-md-4
                p.center.section-title=course['title']
            .col-md-7
                - var instructors = '';
                each val, i in course['instructors']
                    if val!=''&&!(instructors.includes(val))
                        if instructors!=''
                            - instructors = instructors+"; "+val
                        else
                            - instructors = instructors+val
                p.center.section-title="Instructor:" + " " + instructors
            .col-md-1
                p.center.section-title=course['sis_id']
        .row
            .col-md-2.center
                p.center
                    
            .col-md-8.center
                p.center Calendar
                div(style="width:100%;background-color:blue;")
            div(id="calendar" style="width:100%;height:100%")
                
                div(id="calendar_variables" style="display:None")
                    events = [];
                        each course_meeting, index in course
                            event = {}
                            title = course_meeting['title'],
                            start = course_meeting['meetings'][0]['start'],
                            end = course_meeting['meetings'][0]['end']
                        events.push(event)
                    //- console.log(events)
            script.                
                    // This is calendar code.
                    document.addEventListener('DOMContentLoaded', function() {
                        var calendarEl = document.getElementById('calendar');
                        var calendar = new FullCalendar.Calendar(calendarEl, {
                          plugins: [ 'timeGrid' ],
                          defaultView: 'timeGridWeek',
                          nowIndicator:true,
                          allDaySlot:false,
                          columnHeaderFormat:{
                              weekday:'short',
                          },
                          minTime:"08:00:00",
                          header:{
                              left:'',
                              center:'',
                              right:'',
                          },
                    });

                    calendar.render();
              });
              
            .col-md-2.center
                p.center
        .row
            .col-md-12
                p.center="Course Description:" + " " + course['desc']
        .row
            .col-md-6
                canvas(id='overallChart' style='height:300px;')
                script.
                    var course = !{JSON.stringify(course)};
                    window.onload = function(){
                        fetchGrades(course);
                    }
            .col-md-6
                select.form-control
                canvas(id='profSelect')

                    
                
                

            
                
            
                
        
                 
                 
                 
                 
