extends ../layout

block customhead
    link(rel="stylesheet", href="/css/tablesorter.theme.blue.css")
    script(src='/js/tablesorter.js')
    script(src="/js/pagination.js")


block content
    .container
        div.row    
            if course_terms_and_ids.length == 0
                p(style="font-size: 40px")
                    | Results not found
            else
                table(id="term_table" class="terms_table tablesorter-blue")
                    thead
                        tr
                            th Subject
                            th Catalog Number
                            th Class Section
                            th SIS ID
                            th Class Title
                            th Class Type
                            th Instructor
                            th Enrollment Capacity
                            th Class Status
                            th Meeting Days
                            th Class Starting Time
                            th Class Ending Time
                            th Class Date Begins
                            th Class Date Ends
                    tbody
                        - var page = 0
                        each course_term_and_id, index in course_terms_and_ids
                            -console.log(course_term_and_id)
                            tr.paged(page=page, style=("display:None"))
                                td=course_term_and_id['subject']
                                td=course_term_and_id['catalog_number']
                                td=course_term_and_id['section']
                                td=course_term_and_id['sis_id']
                                td=course_term_and_id['title']
                                td=course_term_and_id['type']
                                td=course_term_and_id['instructors']
                                td=course_term_and_id['enrollment']['of']
                                td=course_term_and_id['status']
                                td=course_term_and_id['meetings']['days']
                                td=course_term_and_id['meetings']['start']
                                td=course_term_and_id['meetings']['finish']
                                td=course_term_and_id['meetings']['begin']
                                td=course_term_and_id['meetings']['complete']
                            if index % 20 == 19
                                -page++
                                

                .row
                    #max_page_div(max_page = page)
                    button.btn.btn-primary(type='submit', onClick="previousPage()") Previous
                    button.btn.btn-primary.pageselector
                    button.btn.btn-primary.pageselector
                    button.btn.btn-primary.pageselector
                    button.btn.btn-primary.pageselector
                    button.btn.btn-primary.pageselector
                    button.btn.btn-primary.pageselector
                    button.btn.btn-primary.pageselector
                    button.btn.btn-primary.pageselector
                    button.btn.btn-primary.pageselector
                    button.btn.btn-primary.pageselector
                    button.btn.btn-primary(type='submit', onClick="nextPage()") Next
            
