extends  ../layout

block content
    .container
        p Display...
        table(id="term_and_id_table" class="terms_and_ids_table tablesorter-blue")
            thead
                tr
                    th Subject
                    th Catalog Number
                    th Class Section
                    th SIS ID
                    th Class Title
                    th Description
                    th Instructor
                    th Enrollment Capacity
                    th Meeting Days
                    th Class Starting Time
                    th Class Ending Time
                    th Semester Number
                    th Semester
            tbody
                    tr
                        td=specific_class['subject']
                        td=specific_class['catalog_number']
                        td=specific_class['section']
                        td=specific_class['sis_id']
                        td=specific_class['title']
                        td=specific_class['desc']
                        td=specific_class['instructor']
                        td=specific_class['enrollment_max']
                        td=specific_class['days']
                        td=specific_class['meeting start']
                        td=specific_class['meeting_end']
                        td=specific_class['term_id']
                        td=specific_class['term_name']
