extends ../layout

block customhead
    link(rel="stylesheet", href="/css/tablesorter.theme.blue.css")
    link(rel="stylesheet", href="/css/error_page.css")
    link(rel="stylesheet", href="/css/course_style_sheet.css")
    script(src='/js/ajax.js')
    script(src="/js/pagination.js")
    script.
        var maxPage = !{max_page};

block content
    .container
        .row(style="margin-top:30px;")
            button.btn.bg-uva-blue(style="width:100px;" onClick="previousPage()") Previous
            button.btn.bg-uva-blue.pageselector
            button.btn.bg-uva-blue.pageselector
            button.btn.bg-uva-blue.pageselector
            button.btn.bg-uva-blue.pageselector
            button.btn.bg-uva-blue.pageselector
            button.btn.bg-uva-blue.pageselector
            button.btn.bg-uva-blue.pageselector
            button.btn.bg-uva-blue.pageselector
            button.btn.bg-uva-blue.pageselector
            button.btn.bg-uva-blue.pageselector
            button.btn.bg-uva-blue(style="width:100px;" onClick="nextPage()") Next
        .row(style="margin-top:30px;")
            .col-md-12#results
                each section in sections
                    .row
                        .col-md-12(style="margin-top:50px;")
                            h3.bg-uva-orange.course-header
                                b=section.subject + ' ' + section.catalog_number + ' - ' + section.title
                        .col-md-12.course-section-container
                            .row
                                .col-md-12
                                    p.section-title-thick=section.sections[0].desc
                            table.wide
                                tbody.wide
                                    each course in section.sections
                                        tr.wide
                                            td.wide
                                                .row.section-title.course-section-header
                                                    .col-sm-2
                                                        b
                                                            a(href="/course/"+term+"/"+course.sis_id)
                                                                p.sis_id=course.sis_id + ' - ' + course.section
                                                    .col-sm-1
                                                        b
                                                            p=course.type
                                                    .col-sm-5
                                                        b
                                                            each instructor in course.instructors
                                                                p=instructor
                                                    .col-sm-2
                                                        b
                                                            case course.status
                                                                when 'Wait List'
                                                                    span(style="color:#e57200;") Waitlisted
                                                                when 'Open'
                                                                    span(style="color:green") Open 
                                                                default
                                                                    span=course.status
                                                    .col
                                                        b
                                                            if(course.status == 'Wait List')
                                                                p
                                                                    span=course.enrolled + ' / ' + course.enroll_limit + ' | '
                                                                    span(style="color:red")=course.waiting
                                                            else
                                                                p
                                                                    span(style="color:green")=course.enrolled + ' / ' + course.enroll_limit
                                                                    if(course.waiting != 0)
                                                                        span=' | '
                                                                        span(style="color:red")=course.waiting
                                                div
                                                    .row
                                                        .col-md-12.calspot
                                                            p Future home of the calendar
                                                            
                                                    .row
                                                        .col-md-12
                                                            p
                                                            | Grade data is fetched by combining the instructor with the subject and number. It does not factor in labs/discussions or their instructors, etc.
                                                            p Future home of the grade distribution information!
